

<!DOCTYPE html>
<html lang="en">
<head>
     <title></title>

     <%- include('common/head.ejs') %>
</head>
<body class="container">
 
    <header>
     <%- include('common/header') %>   
    </header>
 
<section>
<%- body %>
</section>


<section>
     <%- include("common/banner") %>
</section>

    <footer>
     <%- include('common/footer') %>
    </footer>
 
</body>
</html>